.pageHeader{
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 48px;
}
.navbar-home-link{
    font-family: 'Great Vibes', cursive;
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    
}