.homeLogo{
    width: 100vw;
    height: 80%;
}

@media only screen and (max-width: 600px) {
    .homeLogo{
       background-image: url(../../server/public/images/logo.png);
       z-index: 10;
    }
}