@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

@import "./navbar.scss";
@import "./home.scss";


html, 
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
}
